.header-navigation {
    width: 100%;
    height: 12%;
    background-color: #437FBA;
    display: flex;
    align-items: center;
}

.logo {
    width: 54%;
    height: 6%;
}

:link{
    text-decoration: none;
}

text {
    color: aliceblue;
}