.dashboard-body {
    width:100%;
    height:100%;
    overflow-y: hidden;
    display: inline-block;
}
.header img {
    width: 100vw;
}
.containers{
    width: 100%;
    display: flex;
    padding-top: 2%;
}
.left-dashboard{
    padding-left: 6%;
    width:50%;
}
.right-dashboard{
    padding-left: 2%;
    width: 50%;
}